
body {
  background-color: #1E2022;
  color: #E8ECEF;
}

.centered {
    padding-top: 136px;
    text-align: center;
}

.jumbotron {
  background-color: #1E2022;
  color: #E8ECEF;
}

.form-control {
  color: rgb(202, 198, 190);
  background-color: rgb(24, 26, 27);
  border-top-color: rgb(54, 63, 72);
  border-right-color: rgb(54, 63, 72);
  border-bottom-color: rgb(54, 63, 72);
  border-left-color: rgb(54, 63, 72);
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.card {
  background-color: #1E2022;
  color: #E8ECEF;
}


.discover-secrets {
  padding-top: 20px;
}

.account {
  padding-top: 20px;
}

a {
  color: white;
}

a:hover {
  color: darkturquoise;
}

.then-register {
  color: #4286f4;
}

.then-login {
  color: #4286f4;
}

.me-ref {
  font-size: .7rem;
  color: darkgrey;
  padding-top: 40px;
  text-align: center;
}

.twitter {
  color: darkgrey;
}

.all-secrets {
  padding-top: 20px;
}

.my-secrets {
  padding-top: 20px;
}

@media (max-width: 415px) {
  .display-3 {
    font-size: 4rem;
  }
}

@media (max-width: 374px) {
  .display-3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 340px) {
  .display-3 {
    font-size: 3rem;
  }
}
