
body {
  background-color: #1E2022;
  color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.jumbotron {
  background-color: #1E2022;
  color: #E8ECEF;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.card {
  background-color: #1E2022;
  color: #E8ECEF;
}


.discover-secrets {
  padding-top: 20px;
}
